/*!
 * Preboot v2
 *
 * Open sourced under MIT license by @mdo.
 * Some variables and mixins from Bootstrap (Apache 2 license).
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.ir {
  display: block;
  text-indent: 100%;
  overflow: hidden;
  font-size: 0;
  color: transparent;
}
/*-------------------------------------------- */
/** Colors */
/*-------------------------------------------- */
/*-------------------------------------------- */
/** Variables */
/*-------------------------------------------- */
/*-------------------------------------------- */
/** Global Overrides */
/*-------------------------------------------- */
.no-smil path,
.no-smil polyline {
  stroke-dashoffset: 0 !important;
}
.no-csstransitions img {
  filter: 0 !important;
}
/*-------------------------------------------- */
/** Layout/Global */
/*-------------------------------------------- */
body {
  height: 5000px;
  background: ghostwhite;
}
/*-------------------------------------------- */
/** Typography */
/*-------------------------------------------- */
h1 {
  margin-bottom: 0;
  font-size: 4em;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}
/*-------------------------------------------- */
/** Animated Elements */
/*-------------------------------------------- */
.block {
  position: fixed;
  top: 45%;
  left: 12.5%;
  width: 5%;
  height: 8%;
  background: #000000;
  transform: translate(0, 30px);
}
.translateX {
  left: 30%;
}
.rotate {
  left: 47.5%;
}
.scale {
  left: 65%;
}
.background-position {
  left: 82.5%;
  outline: 1px solid black;
  background: url(/img/dots.png);
}
/*-------------------------------------------- */
/** Animations */
/*-------------------------------------------- */
