/*!
 * Preboot v2
 *
 * Open sourced under MIT license by @mdo.
 * Some variables and mixins from Bootstrap (Apache 2 license).
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.ir {
  display: block;
  text-indent: 100%;
  overflow: hidden;
  font-size: 0;
  color: transparent;
}
/*-------------------------------------------- */
/** Colors */
/*-------------------------------------------- */
/*-------------------------------------------- */
/** Variables */
/*-------------------------------------------- */
/*-------------------------------------------- */
/** Global Overrides */
/*-------------------------------------------- */
.no-smil path,
.no-smil polyline {
  stroke-dashoffset: 0 !important;
}
.no-csstransitions img {
  filter: 0 !important;
}
/*-------------------------------------------- */
/** Layout/Global */
/*-------------------------------------------- */
body {
  position: relative;
  padding: 0;
  margin: 0;
  background: #f5ffe6;
}
/*-------------------------------------------- */
/** Typography */
/*-------------------------------------------- */
/*-------------------------------------------- */
/** Animated Elements */
/*-------------------------------------------- */
/*-------------------------------------------- */
/** Animations */
/*-------------------------------------------- */
