@import 'lesshat.less';
@import 'mixins.less';
@import 'variables.less';

/*-------------------------------------------- */
/** Global Overrides */
/*-------------------------------------------- */

.no-smil {
	path,
	polyline {
		stroke-dashoffset: 0 !important;
	}
}
.no-csstransitions img {
	filter: 0 !important;
}

/*-------------------------------------------- */
/** Layout/Global */
/*-------------------------------------------- */

body {
	position: relative;
	padding: 0;
	margin: 0;
	background: @bgcolor;
}


/*-------------------------------------------- */
/** Typography */
/*-------------------------------------------- */



/*-------------------------------------------- */
/** Animated Elements */
/*-------------------------------------------- */



/*-------------------------------------------- */
/** Animations */
/*-------------------------------------------- */

